
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

myenv/
venv/
.env

logs/
*.log

.vscode/
.idea/
*.swp


pip-wheel-metadata/
*.egg-info/
lib/
lib64/


*.pyc
*.pyo
*.pyd

.pytest_cache/


*.cache
.cache/
